.shop{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__index{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;

        button{
            background: none;
            border: none;
        }
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-image{
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            display: block;
        }
    }
}