.shop{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__gallery{

        &-image{
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            display: block;
        }
    }
}