.cart{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    table{
        border-collapse: collapse;
        width: 100%;

        td{
            border: 1px solid;
            padding: 0.5rem;
        }
    }
}