.latest{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    &__gallery{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__link{

        &-image{
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            display: block;
        }
    }
}