.latest{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    &__gallery{
        display: flex;
        width: 100%;
        position: relative;
        height: 300px;
        overflow-x: hidden;
    }

    &__link{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;

        &-image{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            display: block;
        }
    }

    &__dots{
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        &-wrapper{
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        &-dot{
            height: 15px;
            width: 15px;
            border-radius: 9999px;
            border: none;
            background: #b1a7a6;

            &--active{
                background: #e5383b;
            }
        }
    }
}