.hero{
    width: 100%;
    height: 450px;
    background: url(/src/assets/images/marche.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__content{
        width: 100%;
        height: 100%;
        padding: 3rem 2rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
        color: white;
        gap: 1rem;

        &-title{
            font-size: 2.5rem;
            font-family: "rubik glitch", sans-serif;
            font-weight: 100;
        }

        &-link{
            color: inherit;
            display: block;
            border: 1px solid;
            padding: 0.5rem 0.8rem;
            width: fit-content;
            text-decoration: none;

            &:hover{
                background: white;
                color: black;
            }
        }
    }
}