.cta{
    background: #000103;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    &__link-wrapper{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__link{
        text-decoration: none;
        color: inherit;
        display: block;
        border: 1px solid;
        padding: 0.5rem 0.8rem;
    }
}