.item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__image{
        width: 100%;
        object-fit: cover;
    }

    &__select{
        padding: 0.5rem;
        width: fit-content;

        &-option{
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
        }
    }
}