.item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__return{
        color: inherit;
        text-decoration: none;
        width: fit-content;
        font-size: 1.2rem;
        padding: 0.2rem 0.2rem 0.2rem 0;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__image{
        width: 100%;
        object-fit: cover;
    }

    &__select{
        padding: 0.5rem;
        width: fit-content;

        &-option{
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
        }
    }
}