.contact-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label{
        width: 100%;

        input{
            width: 100%;
            padding: 0.4rem 0.6rem;
            outline: none;
        }

        textarea{
            width: 100%;
            height: 120px;
            padding: 0.4rem 0.6rem;
            outline: none;
        }
    }
}