.header{
    position: relative;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &__logo{
        text-decoration: none;
        color: inherit;
    }

    &__nav{
        display: none;
    }

    &__menu{
        display: flex;
        gap: 1rem;

        &-icon{
            display: flex;
            align-items: center;
            color: inherit;
        }
    }

    &__mobile{

        &-nav{
            width: 100%;
            position: absolute;
            top: 69px;
            left: 0;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            background: black;
            color: white;
            z-index: 10;
        }

        &-link{
            color: inherit;
            text-decoration: none;
        }
    }
}