@keyframes up-and-down {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-3px);
    }
}

.loading {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;

    &__point-wrapper{
        display: flex;
        gap: 0.2rem;
    }

    &__point {
        animation: up-and-down 0.7s ease-in-out infinite alternate;
        height: 3px;
        width: 3px;
        background: black;
        border-radius: 99px;
        
        &-1{
            animation: up-and-down 0.7s ease-in-out infinite alternate;
        }
        
        &-2{
            animation: up-and-down 0.7s ease-in-out infinite alternate;
            animation-delay: 0.2s;
        }

        &-3{
            animation: up-and-down 0.7s ease-in-out infinite alternate;
            animation-delay: 0.4s;
        }
    }
}