.profile-form{
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__unconnect{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__button{
        width: fit-content;
        padding: 0.5rem 0.8rem;
    }
}

.delete-modale{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    &__wrapper{
        background: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}