.dashboard{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__items{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid;

        &-wrapper{
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &-image{
            height: 40px;
            width: 40px;
        }
    }

    &__edit{
        display: flex;
        gap: 0.5rem;

        &-button{
            background: none;
            border: none;
            font-size: 1.1rem;
            padding: 0;
        }
    }

    &__button{
        background: none;
        border: 1px solid;
        width: fit-content;
        padding: 0.5rem 0.8rem;

        &:hover{
            background: black;
            color: white;
        }
    }
}

.delete-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper{
        background: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__button-wrapper{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}