.footer{
    background: #000103;
    color: white;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__nav{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__link{
        color: inherit;
        text-decoration: none;

        &:hover{
            color: #e5383b;
        }
    }
}