.add-item-modale{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        background: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label{
            width: 100%;

            input{
                width: 100%;
            }
        }
    }
}